span.title {
  font-weight: bold;
}

span.em {
  font-weight: bold;
}

.separator {
  border-bottom: 1px solid var(--md-default-fg-color--lightest);
}

a.field {
  font-weight: 600;
  /* color: #3c4257; */
  font-size: .8rem;
}

span.parent-field {
  font-weight: 600;
  color: var(--md-default-fg-color--light);
  font-size: .85em;
}

span.type {
  color: var(--md-default-fg-color--light);
  font-size: .7rem;
  margin-right: 4px;
}

span.version {
  color: var(--md-default-fg-color--light);
  font-size: .7rem;
  float: right;
}

span.faint {
  color: var(--md-default-fg-color--light);
}

.hero-logo {
  text-align: center;
}
